<header>
  <div>
    <!--- <a href="{{ "/" | prepend: site.baseurl | replace: '//', '/' }}">
    {% assign owner_first_name = site.owner | split: " " %}
    <h1>{{ owner_first_name[0] | downcase }}@warz0ne:~$</h1>
    </a> -->

    <div class="header-links">
     <pre style="border:black">
 █     █░ ▄▄▄       ██▀███  ▒███████▒ ▒█████   ███▄    █ ▓█████       ███▄    █ ▓█████▄▄▄█████▓
▓█░ █ ░█░▒████▄    ▓██ ▒ ██▒▒ ▒ ▒ ▄▀░▒██▒  ██▒ ██ ▀█   █ ▓█   ▀       ██ ▀█   █ ▓█   ▀▓  ██▒ ▓▒
▒█░ █ ░█ ▒██  ▀█▄  ▓██ ░▄█ ▒░ ▒ ▄▀▒░ ▒██░  ██▒▓██  ▀█ ██▒▒███        ▓██  ▀█ ██▒▒███  ▒ ▓██░ ▒░
░█░ █ ░█ ░██▄▄▄▄██ ▒██▀▀█▄    ▄▀▒   ░▒██   ██░▓██▒  ▐▌██▒▒▓█  ▄      ▓██▒  ▐▌██▒▒▓█  ▄░ ▓██▓ ░ 
░░██▒██▓  ▓█   ▓██▒░██▓ ▒██▒▒███████▒░ ████▓▒░▒██░   ▓██░░▒████▒ ██▓ ▒██░   ▓██░░▒████▒ ▒██▒ ░ 
░ ▓░▒ ▒   ▒▒   ▓▒█░░ ▒▓ ░▒▓░░▒▒ ▓░▒░▒░ ▒░▒░▒░ ░ ▒░   ▒ ▒ ░░ ▒░ ░ ▒▓▒ ░ ▒░   ▒ ▒ ░░ ▒░ ░ ▒ ░░   
  ▒ ░ ░    ▒   ▒▒ ░  ░▒ ░ ▒░░░▒ ▒ ░ ▒  ░ ▒ ▒░ ░ ░░   ░ ▒░ ░ ░  ░ ░▒  ░ ░░   ░ ▒░ ░ ░  ░   ░    
  ░   ░    ░   ▒     ░░   ░ ░ ░ ░ ░ ░░ ░ ░ ▒     ░   ░ ░    ░    ░      ░   ░ ░    ░    ░      
    ░          ░  ░   ░       ░ ░        ░ ░           ░    ░  ░  ░           ░    ░  ░        
                            ░                                     ░                            
</pre>
       {% include links.html %}
    </div>
  </div>
</header>
