---
layout: default
---

<article>
  <h2>{{ page.title }}</h2>
  <time datetime="{{ page.date | date_to_xmlschema }}" class="by-line">{{ page.date | date_to_string }}</time>
  {{ content }}
  <hr>
  <br />
  Written by {{ site.owner}}. Please feel free to correct me if I explain anything in a strange/wrong way. Im just trying to learn here… ;)<br />Email: <a href="mailto:datahackare@protonmail.com">datahackare@protonmail.com</a></p>
<script src="https://www.hackthebox.eu/badge/44591"></script> 

<a href="https://gnuheter.com/creeper/senaste" title="Creeper"><img src="https://gnuheter.com/creeper/image" alt="Creeper" width="80" height="15" border="0"/ style="display:none"></a>
</article>
